/* global style start */

body,h1,h2,h3,h4,h5,h6{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width:1440px ;
    background-color:#FFFFFF;
    
}
/* global style end */
/* header start */
/* .header{
    background-color: #2D25A0;
    Width :1440px;
    

} */
.header-detail{
    display: flex;
    background-color: #2D25A0;
    width: 100%;
}
.header-text{
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
    font-weight: 700;
    margin-top: 207px;
    margin-left: 157px;
}
.header-button{
    background: #E02C6D;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    width: 168px;
    height: 44px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 157px;
}
.header-button a{
 text-decoration:none;
 
}
.array{
    margin-left: 10px;
}
.banner{
    width: 556.01px;
    height: 438px;
    margin-top: 153px;
    margin-left: 145px;
    margin-bottom: 86px;
    transition: transform 1s ease-in 0.3s;
}
.header:hover .banner{
    transform: scale(1.5);
    
}
/* header end */

/* player-introduction section */

.players{
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    align-items: center;
    margin-left: 180px;
    margin-right: 210px;
    margin-top: 70px;
    margin-bottom: 165px;
    
}
.player{
    width: 330px;
    height: 474px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    
}
.player-img img{
    width: 300px;
    height: 256px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}
.player-name{
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
    padding-left: 15px;

}
.player-about{
    padding-left: 15px;
    padding-bottom: 15px;
}

/* player-introduction section */

/* highlights section start  */
.highlights{
    margin-left: 182px;
    margin-right: 156px;
    margin-bottom: 75px;
}
.watch-section{
    display: flex;
    
    
}
.hightlights-headlines{
    font-size: 48px;
    /* line-height: 60px; */
    color: #0A0826;
}

.highlights-details{
    width: 469px;
    height: 309px;
    
}
.watch-button{
    background: #E02C6D;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    width: 173px;
    height: 30px;
    padding: 10px 24px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.watch-button a{
    text-decoration: none;
    color: white;
}
.highlights-banner img{
    width: 567px;
    height: 427px;
    margin-left: 66px;
}

/* highlights section end */

/* Membership section start */
.membership-form{
    background-color:#0A0826 ;
    margin-left: 182px;
    margin-right: 295px;
}
.form-headline {
    text-align: center;
    color: whitesmoke;
    font-size: 50px;
    margin-bottom: 20px;
}
.iformation-section{
    display: flex;
    justify-content: center;
}
.information-fillup {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 25px;
    margin-bottom: 40px;
}
.information-fillup input {
    font-size: 26px;
    margin-top: 15px;
    border: 1px solid lightgray;
    padding: 10px 40px;
}
.membership-button{
    text-align: center;
}
.membership-button button {
    padding: 20px 35px;
    border-radius: 10px;
    background-color:#E02C6D ;
    color: whitesmoke;
    font-size: 25px;
    margin-bottom: 30px;
}
/* Membership section end */

/* Partnership area start */
.partnership-area {
    margin-left: 200px;
    margin-right: 100px;
    margin-bottom: 75px;
    
}
.partner-1{
    transition: transform 1s ease-in 0.3s;
}
.partner-1:hover
{
    transform: scale(1.5);
}
.partner-2{
    transition: transform 1s ease-in 0.3s;
}
.partner-2:hover
{
    transform: scale(1.5);
}
.partner-3{
    transition: transform 1s ease-in 0.3s;
}
.partner-3:hover
{
    transform: scale(1.5);
}

.partner-headline {
    text-align: center;
    margin: 45px 0px;
    font-size: 50px;
    color: tomato;
}
.partner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
/* Partnership area end */


/* footer section start */
.footer-section{
    width: 483.87px;
    height: 213px;
    margin: 75px 481px 65px 475px;
}
.footer-banner img{
    width: 483.87px;
    height: 110px;
}
.contact-area {
    margin-right: 156.94px;
    margin-left: 156.94px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.contact-area a {
    color: #969BAB;
    background-color: #E8E7E7;
    font-size: 18px;
    padding: 11px;
    border-radius: 37%;
}
.copyright-section {
    margin-left: 124px;
    margin-right: 124px;
    font-size: 18px;
}
/* footer section end */